<!doctype html>

<!--[if IE 9 ]><html class="no-js csscalc no-flexbox ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">

    <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}">

    {% comment %} We preconnect of two popular domains (Shopify CDN and Google Font) to speed up performance {% endcomment %}
    <link rel="preconnect" href="//cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin>

    {% if settings.favicon %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}

    {% include 'social_meta_tags' %}
    {% include 'google_fonts' %}

    {{ content_for_header }}

    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {{ 'new-design-styles.scss.css' | asset_url | stylesheet_tag }}

    <script>
      // This allows to expose several variables to the global scope, to be used in scripts
      window.shop = {
        template: {{ template | json }},
        currentPage: {{ current_page }},
        shopCurrency: {{ shop.currency | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        collectionSortBy: {{ collection.sort_by | default: collection.default_sort_by | json }}
      };

      window.languages = {
        autocompleteNoResults: {{ 'search.autocomplete.no_results' | t | json }},
        autocompleteSeeAll: {{ 'search.autocomplete.see_all' | t | json }},
        closeReview: {{ 'product.reviews.close' | t | json }},
        passwordRecoverTitle: {{ 'customer.recover.title' | t | json }},
        shippingEstimatorSubmitting: {{ 'cart.shipping_estimator.submitting' | t | json }},
        shippingEstimatorSubmit: {{ 'cart.shipping_estimator.submit' | t | json }},
        shippingEstimatorError: {{ 'cart.shipping_estimator.error' | t | json }},
        shippingEstimatorRates: {{ 'cart.shipping_estimator.rates' | t | json }},
        shippingEstimatorNoRates: {{ 'cart.shipping_estimator.no_rates' | t | json }},
        cartEstimatedShipping: {{ 'cart.general.estimated_shipping' | t | json }},
        addToCartLabel: {{ 'product.general.add_to_cart' | t | json }},
        soldOutLabel: {{ 'product.labels.sold_out' | t | json }},
        onSaleLabel: {{ 'product.labels.on_sale' | t | json }},
        unavailableLabel: {{ 'product.labels.unavailable' | t | json }},
        addToCartButton: {{ 'product.general.add_to_cart' | t | json }},
        addingToCartButton: {{ 'product.general.adding_to_cart' | t | json }},
        addedToCartButton: {{ 'product.general.added_to_cart' | t | json }}
      }
    </script>

    {% include 'microdata_schema' %}
  {% include 'sca-quick-view-init' %}

  {% include 'shogun-head' %}
{% include 'collection-filter-v2' %}

<!--begin-bc-sf-filter-css-->
  {% include 'bc-sf-filter-style' %}
<!--end-bc-sf-filter-css-->
</head>


  {% assign template_handle = template | replace: '.', ' ' | truncatewords: 1, '' | handle %}


<body class="kagami--v6 template-{{ template_handle }} {% if page.template_suffix != blank %}template-{{ template_handle }}-{{page.template_suffix}}{% endif %}">
    {% include 'svg_icons' %}

    <div class="page__overlay"></div>

    <div class="drawers">
      {% include 'mini_cart' %}
      {% include 'navigation_sidebar' %}
    </div>

    <div class="page__container {% if use_secondary_background %}page__container--secondary{% endif %}">
      {% section 'announcement' %}
      {% section 'header' %}

      <main id="main" class="main" role="main">
        {{ content_for_layout }}
      </main>

      {% if template != 'index' and settings.newsletter_always_display %}
        {% include 'newsletter' %}
      {% endif %}

      {% section 'footer' %}
    </div>

    {% include 'popup' %}

    {% comment %}This is an empty modal this is used to display the quick shop{% endcomment %}
    <div class="quick-shop modal modal--large remodal">
      <div class="quick-shop__spinner spinner-container spinner-container--large">
        <div class="spinner spinner--circle"></div>
      </div>
    </div>

    {{ '//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js' | script_tag }}
    {{ 'modernizr.min.js' | asset_url | script_tag }}

    {% if settings.currency_conversion_enabled %}
      {{ '//cdn.shopify.com/s/javascripts/currencies.js' | script_tag }}
    {% endif %}

    {% if template contains 'customers' %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
    {% endif %}

    {% if template contains 'cart' %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}

    {{ 'option_selection.js' | shopify_asset_url | script_tag }}

    {{ '//cdn.polyfill.io/v2/polyfill.min.js?features=String.prototype.trim,Object.keys,Array.prototype.map,Array.prototype.forEach' | script_tag }}
    {{ 'libs.js' | asset_url | script_tag }}
    {{ 'script.js' | asset_url | script_tag }}
    {{ 'ssm.min.js' | asset_url | script_tag }}
    {{ 'custom-script.js' | asset_url | script_tag }}

    <!--[if IE 9]>
      {{ 'polyfills-ie9.js' | asset_url | script_tag }}
    <![endif]-->
  {% include 'sca-quick-view-template' %}

{% include 'swymSnippet' %}

<!-- BEEKETINGSCRIPT CODE START -->{% include 'bk-tracking' %}<!-- BEEKETINGSCRIPT CODE END --><!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4516313.js"></script>
<!-- End of HubSpot Embed Code -->

<!-- Cookies banner code start -->
{% include 'shopifyexplorer-cookies-banner' %}
<!-- Cookies banner code end -->

 {% include 'smile-initializer' %}

<!--Add report an issue button-->
 {% if template contains 'collection' %}
   {% include 'report_issue' %}
 {% endif %}

<!--begin-bc-sf-filter-js-->
  {% include 'bc-sf-filter' %}
<!--end-bc-sf-filter-js-->
{% comment %} Init BC Action List {% endcomment %}
<!--start-bc-al-init-->
  {% include 'bc-al-init' %}
<!--end-bc-al-init-->
{% comment %} Init Recently Viewed Products {% endcomment %}
<!-- start-bc-recently-viewed-product-init -->
{% include 'bc-recently-viewed-product-init' %}
<!-- end-bc-recently-viewed-product-init -->
{% comment %} Init Most Popular Widgets {% endcomment %}
<!--start-bc-most-popular-product-init-->
  {% include 'bc-most-popular-product-init' %}
<!--end-bc-most-popular-product-init-->
</body>
<!-- Start-MakeAnOffer version: 5 -->
        <script>
          var makeAnOfferData = (function() {
            var data = {
              product: null,
              cartProducts: [],
            };

            {% if product %}
              data.product = (function() {
                var mf_featured_image = "{{ product.selected_or_first_available_variant.featured_image | default: product.featured_image | img_url: '1024x1024'}}";
                var mf_other_image = "{{ product.images.first | img_url: '1024x1024' }}";
                return {
                  title: {{ product.title | json }},
                  price: "{{ product.price | money_without_currency }}",
                  currency: "{{ shop.money_format }}",
                  image: mf_featured_image || mf_other_image,
                  variants: {{ product.variants | json }},
                  tags: {{ product.tags | json }},
                  collections: {{ product.collections | json }},
                  url: "{{ product.url | within: collections.all }}",
                  available: {{ product.available }}
                }
              })();
            {% endif %}

            {% if cart.items.size > 0 %}
              {% for item in cart.items %}
                data.cartProducts.push(function() {
                  return {
                    title: {{ item.title | json }},
                    price: "{{ item.price | money }}",
                    image: "{{ item | img_url: '1024x1024' }}",
                    variants: {{ item.variants | json }},
                    url: "{{ item.url | within: collections.all }}",
                    sku: "{{ item.sku }}",
                    tags: {{ item.product.tags | json }},
                    collections: {{ item.product.collections | json }},
                    available: {{ item.product.available }}
                  }
                }());
              {% endfor %}
            {% endif %}

            return data;
          })();

        </script>
        <!-- End-MakeAnOffer -->

</html>
